# =========================
# Maven / Gradle
# =========================
/target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Spring Boot
# =========================
HELP.md
src/main/resources/application.properties

# =========================
# Compiled files
# =========================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# =========================
# Logs
# =========================
*.log
hs_err_pid*
replay_pid*

# =========================
# IDEs
# =========================
## STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ
.idea/
*.iws
*.iml
*.ipr

## VS Code
.vscode/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# OS
# =========================
.DS_Store
